In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geoplot as gplt
import shapefile
import osr
import dbf
import requests
import io
import tqdm
import glob

from urllib.request import urlopen
from zipfile import ZipFile
from shapely.geometry import shape, Point, Polygon


%matplotlib inline

### Weighted Centroids of several States

In [2]:
## Function definition: Read Blocks Shapefile within a State
def Blocks_Shapefile(doc_path):
    
    state_blocks = ZipFile(doc_path, 'r') 

    filenames = [y for y in sorted(state_blocks.namelist())
                 for ending in ['dbf', 'prj', 'shp', 'shx'] if y.endswith(ending)]
    dbf, prj, shp, shx = [io.BytesIO(state_blocks.read(filename)) for filename in filenames]
    r = shapefile.Reader(shp=shp, shx=shx, dbf=dbf)

    attributes, geometry = [], []
    field_names = [field[0] for field in r.fields[1:]]
    for row in r.shapeRecords():
        geometry.append(shape(row.shape.__geo_interface__))
        attributes.append(dict(zip(field_names,row.record)))

    prj = io.TextIOWrapper(prj, encoding='utf-8')
    proj4 = osr.SpatialReference(prj.read()).ExportToProj4()

    gdf = gpd.GeoDataFrame(data=attributes, geometry=geometry, crs=proj4)
    gdf[['INTPTLON10', 'INTPTLAT10']] = gdf[['INTPTLON10', 'INTPTLAT10']].apply(pd.to_numeric)
    gdf.sort_values(['COUNTYFP10', 'BLOCKCE10', 'TRACTCE10'], ascending=[True, True, True], inplace=True)
    gdf.reset_index(drop=True, inplace=True)
    
    return gdf;

## gdf01 = Blocks_Shapefile('/home/jinli/Desktop/DataForMasterThesis/Census_Shapefiles/tl_2010_01_tabblock10.zip')

In [3]:
## Function definition: Read Population by Blocks within a State
def Blocks_Population(doc_path):
    
    pop = pd.read_csv(doc_path, header=1)
    pop['GEOID10'] = pop['id'].map(lambda x: x[9:])
    ### cols = pop.columns.tolist()   ## ['id', 'Geographic Area Name', 'Total', 'GEOID10']
    pop = pop[['id', 'Geographic Area Name', 'GEOID10', 'Total']]
    
    return pop;

## pop01 = Blocks_Population('/home/jinli/PycharmProjects/DECENNIALSF12010.P1_data_State_01.csv')

In [4]:
## A list of file names and path in 'Census_Shapefiles' folder.
shapefile_list = glob.glob('/home/jinli/Desktop/DataForMasterThesis/Census_Shapefiles/*.zip')
pop_list = glob.glob('/home/jinli/Desktop/DataForMasterThesis/Census_Block_Population/*.csv')

sf_list = glob.glob('/home/jinli/Desktop/DataForMasterThesis/Census_Shapefiles_try/*.zip')
p_list = glob.glob('/home/jinli/Desktop/DataForMasterThesis/Census_Block_Population_try/*.csv')

namespace = globals()

for idx, val in enumerate(sf_list):
    namespace['gdf_%d' % idx] = Blocks_Shapefile(val)
    
    
for idx, val in enumerate(p_list):
    namespace['df_%d' % idx] = Blocks_Population(val)

In [5]:
p_list

['/home/jinli/Desktop/DataForMasterThesis/Census_Block_Population_try/DECENNIALSF12010.P1_data_with_overlays_04.csv',
 '/home/jinli/Desktop/DataForMasterThesis/Census_Block_Population_try/DECENNIALSF12010.P1_data_with_overlays_01.csv',
 '/home/jinli/Desktop/DataForMasterThesis/Census_Block_Population_try/DECENNIALSF12010.P1_data_with_overlays_05.csv']

In [6]:
df_0

,id,Geographic Area Name,GEOID10,Total
0,1000000US040019426001000,"Block 1000, Block Group 1, Census Tract 9426, ...",040019426001000,22
1,1000000US040019426001001,"Block 1001, Block Group 1, Census Tract 9426, ...",040019426001001,27
2,1000000US040019426001002,"Block 1002, Block Group 1, Census Tract 9426, ...",040019426001002,9
3,1000000US040019426001003,"Block 1003, Block Group 1, Census Tract 9426, ...",040019426001003,0
4,1000000US040019426001004,"Block 1004, Block Group 1, Census Tract 9426, ...",040019426001004,0
...,...,...,...,...
241661,1000000US040279800061138,"Block 1138, Block Group 1, Census Tract 9800.0...",040279800061138,0
241662,1000000US040279800061139,"Block 1139, Block Group 1, Census Tract 9800.0...",040279800061139,0
241663,1000000US040279800061140,"Block 1140, Block Group 1, Census Tract 9800.0...",040279800061140,0
241664,1000000US040279800061141,"Block 1141, Block Group 1, Census Tract 9800.0...",040279800061141,0
241665,1000000US040279800061142,"Block 1142, Block Group 1, Census Tract 9800.0...",040279800061142,0

In [7]:
sf_list

['/home/jinli/Desktop/DataForMasterThesis/Census_Shapefiles_try/tl_2010_01_tabblock10.zip',
 '/home/jinli/Desktop/DataForMasterThesis/Census_Shapefiles_try/tl_2010_05_tabblock10.zip',
 '/home/jinli/Desktop/DataForMasterThesis/Census_Shapefiles_try/tl_2010_04_tabblock10.zip']

In [9]:
gdf_2

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,04,001,942600,1000,040019426001000,Block 1000,G5040,R,,,S,11931369,0,36.915534,-109.759147,"POLYGON ((-109.74703 36.93178, -109.74626 36.9..."
1,04,001,942700,1000,040019427001000,Block 1000,G5040,R,,,S,18841734,0,36.981562,-109.082739,"POLYGON ((-109.10677 36.98486, -109.10679 36.9..."
2,04,001,944000,1000,040019440001000,Block 1000,G5040,R,,,S,8326,0,36.140827,-109.046587,"POLYGON ((-109.04636 36.14033, -109.04668 36.1..."
3,04,001,944100,1000,040019441001000,Block 1000,G5040,R,,,S,6440977,10940,36.438917,-109.205296,"POLYGON ((-109.18312 36.43920, -109.18318 36.4..."
4,04,001,944201,1000,040019442011000,Block 1000,G5040,R,,,S,612203,49434,36.184711,-109.588573,"POLYGON ((-109.58635 36.18606, -109.58686 36.1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241661,04,027,000600,5034,040270006005034,Block 5034,G5040,U,98020,U,S,58113,0,32.699533,-114.639613,"POLYGON ((-114.64146 32.69938, -114.64146 32.6..."
241662,04,027,000800,5034,040270008005034,Block 5034,G5040,U,98020,U,S,9793,0,32.693260,-114.634388,"POLYGON ((-114.63334 32.69349, -114.63333 32.6..."
241663,04,027,000600,5035,040270006005035,Block 5035,G5040,U,98020,U,S,17806,0,32.700207,-114.638459,"POLYGON ((-114.63759 32.70002, -114.63758 32.6..."
241664,04,027,000800,5035,040270008005035,Block 5035,G5040,U,98020,U,S,10135,0,32.693252,-114.636516,"POLYGON ((-114.63544 32.69303, -114.63758 32.6..."
241665,04,027,000600,5036,040270006005036,Block 5036,G5040,U,98020,U,S,10955,0,32.698799,-114.640699,"POLYGON ((-114.64146 32.69938, -114.64043 32.6..."

In [10]:
gdf = pd.concat([gdf_0, gdf_1, gdf_2])
pop = pd.concat([df_0, df_1, df_2])

In [12]:
gdf

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,01,001,020100,1000,010010201001000,Block 1000,G5040,R,,,S,482627,0,32.469683,-86.480959,"POLYGON ((-86.48644 32.47090, -86.48572 32.470..."
1,01,001,020200,1000,010010202001000,Block 1000,G5040,U,58600,U,S,1286157,0,32.483304,-86.475232,"POLYGON ((-86.46817 32.48742, -86.46824 32.487..."
2,01,001,020300,1000,010010203001000,Block 1000,G5040,U,58600,U,S,307955,0,32.490375,-86.460002,"POLYGON ((-86.45356 32.48934, -86.46731 32.489..."
3,01,001,020400,1000,010010204001000,Block 1000,G5040,U,58600,U,S,389693,0,32.491296,-86.449104,"POLYGON ((-86.45308 32.48935, -86.45356 32.489..."
4,01,001,020500,1000,010010205001000,Block 1000,G5040,U,58600,U,S,27932,0,32.458661,-86.412197,"POLYGON ((-86.41317 32.45993, -86.41168 32.459..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241661,04,027,000600,5034,040270006005034,Block 5034,G5040,U,98020,U,S,58113,0,32.699533,-114.639613,"POLYGON ((-114.64146 32.69938, -114.64146 32.6..."
241662,04,027,000800,5034,040270008005034,Block 5034,G5040,U,98020,U,S,9793,0,32.693260,-114.634388,"POLYGON ((-114.63334 32.69349, -114.63333 32.6..."
241663,04,027,000600,5035,040270006005035,Block 5035,G5040,U,98020,U,S,17806,0,32.700207,-114.638459,"POLYGON ((-114.63759 32.70002, -114.63758 32.6..."
241664,04,027,000800,5035,040270008005035,Block 5035,G5040,U,98020,U,S,10135,0,32.693252,-114.636516,"POLYGON ((-114.63544 32.69303, -114.63758 32.6..."
241665,04,027,000600,5036,040270006005036,Block 5036,G5040,U,98020,U,S,10955,0,32.698799,-114.640699,"POLYGON ((-114.64146 32.69938, -114.64043 32.6..."

In [ ]:
## Function definition: Read County Shapefile of USA
def USA_County_Shapefile(doc_path):
    
    allcounties = ZipFile(doc_path, 'r')

    filenames = [y for y in sorted(allcounties.namelist())
                     for ending in ['dbf', 'prj', 'shp', 'shx'] if y.endswith(ending)]
    dbf, prj, shp, shx = [io.BytesIO(allcounties.read(filename)) for filename in filenames]
    r = shapefile.Reader(shp=shp, shx=shx, dbf=dbf)

    attributes, geometry = [], []
    field_names = [field[0] for field in r.fields[1:]]
    for row in r.shapeRecords():
        geometry.append(shape(row.shape.__geo_interface__))
        attributes.append(dict(zip(field_names,row.record)))

    prj = io.TextIOWrapper(prj, encoding='utf-8')
    proj4 = osr.SpatialReference(prj.read()).ExportToProj4()

    gdf = gpd.GeoDataFrame(data=attributes, geometry=geometry, crs=proj4)
    gdf.sort_values(by =['STATEFP10', 'COUNTYFP10'], inplace=True)
    gdf.reset_index(drop=True, inplace=True)
    gdf[['INTPTLON10', 'INTPTLAT10']] = gdf[['INTPTLON10', 'INTPTLAT10']].apply(pd.to_numeric)

    gdf = gdf[(gdf.STATEFP10 != '02') & (gdf.STATEFP10 != '72') & (gdf.STATEFP10 != '15')]
    
    return gdf;

## allcounties = USA_County_Shapefile('/home/jinli/PycharmProjects/tl_2010_us_county10(NEW).zip')

In [ ]:
geodata = pd.merge(gdf, pop, on='GEOID10')
geodata = geodata[['STATEFP10', 'COUNTYFP10', 'GEOID10', 'Total', 'INTPTLON10', 'INTPTLAT10']]

geodata['LON*POP'] = geodata['Total']*geodata['INTPTLON10']
geodata['LAT*POP'] = geodata['Total']*geodata['INTPTLAT10']

## Calculation of population weighted centroids for each county
gdf_bycounty = geodata.groupby(['STATEFP10', 'COUNTYFP10'])['Total', 'LON*POP', 'LAT*POP'].sum().reset_index()
gdf_bycounty['LON'] = gdf_bycounty['LON*POP']/gdf_bycounty['Total']
gdf_bycounty['LAT'] = gdf_bycounty['LAT*POP']/gdf_bycounty['Total']

### Creat new geodataframe with centroid points transfromed to geometry
geometry = [Point(xy) for xy in zip(gdf_bycounty['LON'], gdf_bycounty['LAT'])]
cent = gpd.GeoDataFrame(gdf_bycounty, geometry=geometry)

cent['GEOID10'] = cent['STATEFP10'] + cent['COUNTYFP10']
GEOID10 = cent['GEOID10']
cent.drop(labels=['GEOID10'], axis=1, inplace = True)
cent.insert(0, 'GEOID10', GEOID10)

### Shapefile of all Counties in USA

In [ ]:
allcounties = USA_County_Shapefile('/home/jinli/PycharmProjects/tl_2010_us_county10(NEW).zip')

### County Pairs

In [ ]:
countypairs = pd.read_csv('/home/jinli/PycharmProjects/county-pair-list.txt')

countypairs.drop_duplicates(subset='COUNTYPAIR_ID', inplace = True)

new = countypairs['COUNTYPAIR_ID'].str.split("-", n = 1, expand = True)

countypairs['GEOID10_FIPS1'] = new[0]
countypairs['GEOID10_FIPS2'] = new[1]
countypairs['STATE_FIPS1'] = countypairs['GEOID10_FIPS1'].map(lambda x: x[0:2])
countypairs['STATE_FIPS2'] = countypairs['GEOID10_FIPS2'].map(lambda x: x[0:2])

countypairs = countypairs[['COUNTYPAIR_ID', 'STATE_FIPS1', 'GEOID10_FIPS1', 'STATE_FIPS2', 'GEOID10_FIPS2']]
countypairs.reset_index(drop=True, inplace=True)

In [ ]:
countypairs

### Boundaries shared by each county pairs

In [ ]:
### County pairs in State 01,12,13,28
cp = countypairs[countypairs.STATE_FIPS1=='01']

### Geodataframe of all counties in USA
gdf_ac = allcounties[['GEOID10', 'INTPTLAT10', 'INTPTLON10', 'geometry']]

### County Boundary Intersection: cbi
GEOID10_FIPS1 = cp[['GEOID10_FIPS1']]
GEOID10_FIPS2 = cp[['GEOID10_FIPS2']]
cb_GEOID10_FIPS1 = pd.merge(GEOID10_FIPS1, gdf_ac, how='left', left_on='GEOID10_FIPS1', right_on='GEOID10')
cb_GEOID10_FIPS2 = pd.merge(GEOID10_FIPS2, gdf_ac, how='left', left_on='GEOID10_FIPS2', right_on='GEOID10')
cb_FIPS1 = cb_GEOID10_FIPS1[['geometry']].rename(columns={'geometry': 'geometry_FIPS1'})
cb_FIPS2 = cb_GEOID10_FIPS2[['geometry']].rename(columns={'geometry': 'geometry_FIPS2'})

### County pairs geometries
cbp = pd.concat([cb_FIPS1, cb_FIPS2], axis=1)

In [ ]:
cbi = pd.DataFrame(columns=['intersection'])

for index, row in cbp.iterrows():
    intersection = row['geometry_FIPS1'].intersection(row['geometry_FIPS2'])
    cbi = cbi.append({'intersection': intersection}, ignore_index=True)

### County pairs and the shared boundaries   
geocbi = gpd.GeoDataFrame(cp, geometry=cbi.intersection)

### Dataframe that contains weighted centroids coordinates of all county in USA
geocent = cent[['GEOID10', 'geometry']]

### Joining dataframes to form a new one which include shared boundaries & centroids information
distance_info = pd.merge(geocbi, geocent, how='left', left_on='GEOID10_FIPS1', right_on='GEOID10')
distance_info = pd.merge(distance_info, geocent, how='left', left_on='GEOID10_FIPS2', right_on='GEOID10')
distance_info = distance_info.rename(columns={'geometry_x': 'Intersection', 
                                              'geometry_y': 'Cent_FIPS1', 'geometry': 'Cent_FIPS2'})
distance_info.drop(['GEOID10_x', 'GEOID10_y'], axis=1, inplace=True)

In [ ]:
distance_info.head()

### Distance between population weighted county centroids and boundaries

In [ ]:
distance_FIPS1, distance_FIPS2 = [], []

for index, row in distance_info.iterrows():
    ##points.distance(lines)
    dist1 = row['Cent_FIPS1'].distance(row['Intersection'])
    dist2 = row['Cent_FIPS2'].distance(row['Intersection'])
    distance_FIPS1.append(dist1)
    distance_FIPS2.append(dist2)
    
dist_FIPS1 = pd.DataFrame({'distance_FIPS1':distance_FIPS1})
dist_FIPS2 = pd.DataFrame({'distance_FIPS2':distance_FIPS2})

distance = pd.concat([distance_info, dist_FIPS1, dist_FIPS2], axis=1)

In [ ]:
distance.info()